{% extends "base.html" %}
{% block answer%}
<form method="POST" action="/answer">
    {{ form.csrf_token }}
    {% for item in json_data %}
        {% for key in item %}
            <div>{{ form[key].label }} </div>
            <div>{{ form[key](size=50) }}</div>

        {% endfor %}
    {% endfor %}
    {% if index < 1 %}
        <input type="submit" value="Продолжить" name="button">
    {% endif %}
    {% if index >= 1 and index < (index_max -1) %}
        <input type="submit" value="Вернуться" name="button">
        <input type="submit" value="Продолжить" name="button">
    {% endif %}
    {% if index == (index_max -1) %}
        <input type="submit" value="Вернуться" name="button">
        <div>
            <input type="submit" value="Сохранить Excel" name="button">
            <input type="submit" value="Сохранить Word" name="button">
        </div>
    {% endif %}
</form>
{% endblock %}