{% extends "base.html" %}
{% block index_content%}
    <form method="post">
        <div>
            <h3>Введите запрос к Wikipedia</h3>
            <input type="text" name="text_request">    
        </div>
        <div>
            <input type="submit" value="Получить JSON">
        </div>
        
    </form>
    {% if label_code_error %}
        <h3>'Упс! Вы вели некоректный запрос, попробуйте снова!' Код ошибки {{label_code_error}}, за подробностями <a href="https://en.wikipedia.org/api/rest_v1/#/Page%20content/get_page_html__title_">REST Wikipedia</a></h3>
    {% endif %}
{% endblock %}